@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #333;
  --background-hex: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: rgb(var(--foreground-hex));
  background-color: rgb(var(--background-hex));
  display: flex;
  flex-direction: column;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.default_page_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  gap: 20px;
  padding: 20px;
}
